<nav>
    <div class="nav-wrapper topnav">
        <a herf="/" class="brand-logo center">Scraper News Network</a>
         <ul class="right" id="nav-mobile">
             <li><a href="/scrape"> Scrape</a></li>
             <li><a href="" target="blank"> Git Repo</a></li>

         </ul>
    </div>
</nav>